body {
    background-image: url("https://imgs.search.brave.com/oS12dNWVLoJwvugchJA74eoQ11ToalOqjDQ9XK719Mw/rs:fit:800:480:1/g:ce/aHR0cDovL29yaWcx/MC5kZXZpYW50YXJ0/Lm5ldC81ZDJmL2Yv/MjAxNC8yOTMvNC81/L3Bva2Vtb25feF9h/bmRfeV9iYXR0bGVf/YmFja2dyb3VuZF9l/bGVjdHJpY190ZXJy/YWluX2J5X3Bob2Vu/aXhvZmxpZ2h0OTIt/ZDgzbDdvdS5wbmc");
    overflow: hidden;
    background-repeat: repeat-x;
    background-size: 1500px;
}

h1{
    display: grid;
    text-align: center;
    color:  rgb(187, 156, 156);
}

img {
    height: 20vh;
}

#attack1 {
    height: 5vh;
    width: 10vh;
    color: bisque;
    border-color: darkorange;
    font-style: black;
    text-shadow: 2px 2px black;
}

#attack2 {
    height: 5vh;
    width: 10vh;
    color: bisque;
    border-color: darkorange;
    font-style: black;
    text-shadow: 2px 2px black;
}

#attack3 {
    height: 5vh;
    width: 10vh;
    color: bisque;
    border-color: darkorange;
    font-style: black;
    text-shadow: 2px 2px black;
}

#attack4 {
    height: 5vh;
    width: 10vh;
    color: bisque;
    border-color: darkorange;
    font-style: black;
    text-shadow: 2px 2px black;
}
