body{
    background-image: url("https://imgs.search.brave.com/Lws4rwgRIIJxx0fScRMaayT8327ffnP11aM8AY1kTQ8/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly9jZG4u/ZWxlZ2FudHRoZW1l/cy5jb20vYmxvZy93/cC1jb250ZW50L3Vw/bG9hZHMvMjAxMy8w/OS9iZy05LWZ1bGwu/anBn") ;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    background-repeat: repeat-x;
    background-size: 1500px;
    color: white;
}



#logo{
    display: grid;
    justify-items: center; 
}

img {
    height: 20vh;
}

#mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#playerHp #enemyHp{
    position: relative;
    height: 20px;
    width: 250px;
    border: black 2px solid;
    border-radius: 2px;
    margin-right: 30px;
    display: inline-block;
}

#playerHpBar, #enemyHpBar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

